#parentdiv
{
    position: relative;
    background-color: #ac5;
    border-radius: 50%;
    float:right;
    margin-right:15%;
    margin-top:200px;
}
.circle
{
    position: absolute;
    background-color: #ac5;
    border-radius: 50%;
    text-align:center;
    display:block;
    overflow:hidden;
}
.circle span{
  display: block;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  margin:0 auto;
  text-align:center;
  padding: 0px 15%;

}